{
  "plugins": [
    "emotion",
    "@babel/plugin-proposal-class-properties"
	],
  "presets": [
    "minify",
		[
			"@babel/preset-env",
			{
				"loose": true
			}
		],
    "@babel/preset-react"
  ]
}
