* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

textarea * , pre * {
	font-family: monospace;
}

#root {
  margin: 20px auto;
  max-width: 400px;
  box-sizing: border-box;
}
