body,
html {
  font-family: Arial, 'Lucida Grande', sans-serif !important;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, 'Lucida Grande', sans-serif;
  font-weight: 300 !important;
}

.hp .material-icons {
  font-size: 70px;
}

blockquote {
  background: #fff;
  margin: 21px 0;
  border-left: 3px solid #ccc;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.home-docs-link {
  width: 30%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

table {
  font-family: Arial, sans-serif;
  color: #999;
}

table tr td:not(:nth-child(1)) {
  font-size: small;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

th,
tr:hover {
  background: #f2f2f2;
  color: #000;
}

tr > td:nth-child(1) {
  font-weight: 500;
}

tr > td {
  font-family: 'Fira Code', 'Andale Mono', monospace;
}

summary {
  font-size: larger;
  margin: 20px 0;
}

[class*="-Side"] [class*="-Inner"] pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monaco, monospace !important;
  position: relative;
  color: #555;
  font-weight: 400;
  font-size: 12px !important;
  background: #f7f7f7 !important;
  border-radius: 3px;
  box-shadow: 0 5px 10px #ccc inset;
}

[class*="-Side"] [class*="-Inner"] pre span {
  position: absolute;
  display: block;
  background: #fff;
  top: 0;
  right: 0;
  border-radius: 0 3px;
  padding: 3px 5px;
  font-size: 10px;
  box-shadow: -2px 2px 5px #ccc;
  color: #999;
}

pre:hover span {
  display: none;
}
